[submodule "layers/modules/bitbake"]
	path = layers/modules/bitbake
	url = git://git.openembedded.org/bitbake
[submodule "layers/modules/meta-raspberrypi"]
	path = layers/modules/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "layers/modules/openembedded-core"]
	path = layers/modules/openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "layers/modules/meta-qt5"]
	path = layers/modules/meta-qt5
	url = git@github.com:meta-qt5/meta-qt5.git
[submodule "layers/modules/meta-openembedded"]
	path = layers/modules/meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
